h1{
  color:blue;
  font-family:cursive;
  font-size:50px;
  margin-top: 50px;
  margin-left: 50px;
}
h4 {
  color:black;
  font-family:cursive;
}
h5 {
  color:black;
  font-family: cursive;
}
body {
  background-color: lightblue;
}
p{
  margin-top: 50px;
  margin-left: 50px;
}
